*{
    font-family: Consolas, monaco;
    color: black;
}

body {
    background-color: #aef5cb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.display {
    width: auto;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 70px;
    background-color: #eeeeee;
}

.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 2px solid black;
    min-width: 352px;
    height: 432px;
    padding: 8px;
    gap: 8px;
    background-color: #393e46;
}

button {
    width: 80px;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    background-color: #c3bef0;
}

.zero {
    width: 164px;
}

.operator, .equals {
    background-color: #f96d00;
}

.digit, .decimal {
    background-color: #bbe4e9;
}

.is-depressed {
    background-color: #fdc57b;
}

.row {
    display: flex;
    justify-content: space-between;
}